.idea
cmake-build-*
**/.DS_Store
build
.vscode

output
grid_search/
log

# ignore all tasks except those that are graded
tasks/setcover/*
tasks/knapsack/*
tasks/coloring/*
tasks/tsp/*
tasks/facility/*

# setcover
!tasks/setcover/sc_157_0
!tasks/setcover/sc_330_0
!tasks/setcover/sc_1000_11
!tasks/setcover/sc_5000_1
!tasks/setcover/sc_10000_5
!tasks/setcover/sc_10000_2

# knapsack
!tasks/knapsack/ks_30_0
!tasks/knapsack/ks_50_0
!tasks/knapsack/ks_200_0
!tasks/knapsack/ks_400_0
!tasks/knapsack/ks_1000_0
!tasks/knapsack/ks_10000_0

# coloring
!tasks/coloring/gc_50_3
!tasks/coloring/gc_70_7
!tasks/coloring/gc_100_5
!tasks/coloring/gc_250_9
!tasks/coloring/gc_500_1
!tasks/coloring/gc_1000_5

# tsp
!tasks/tsp/tsp_51_1
!tasks/tsp/tsp_100_3
!tasks/tsp/tsp_200_2
!tasks/tsp/tsp_574_1
!tasks/tsp/tsp_1889_1
!tasks/tsp/tsp_33810_1

# facility
!tasks/facility/fl_25_2
!tasks/facility/fl_100_1
!tasks/facility/fl_200_7
!tasks/facility/fl_500_7
!tasks/facility/fl_1000_2
!tasks/facility/fl_2000_2